In [4]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\visitante\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\visitante\anaconda3\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\visitante\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\visitante\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\visitante\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\visitante\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [5]:
import sys
print(sys.executable)

C:\Users\Visitante\anaconda3\envs\pyspark_env\python.exe

In [6]:
import pandas as pd

# Caminho completo do arquivo
csv_path = r"C:\Users\Visitante\Desktop\Bootcamp\Data-Engineering-and-Big-Data-Project\Datasets\worldometer_data.csv"

# Ler o CSV para um DataFrame
df = pd.read_csv(csv_path)

# Mostrar as 5 primeiras linhas
df.head()

,Country/Region,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
0,USA,North America,3.311981e+08,5032179,NaN,162804.0,NaN,2576668.0,NaN,2292707.0,18296.0,15194.0,492.0,63139605.0,190640.0,Americas
1,Brazil,South America,2.127107e+08,2917562,NaN,98644.0,NaN,2047660.0,NaN,771258.0,8318.0,13716.0,464.0,13206188.0,62085.0,Americas
2,India,Asia,1.381345e+09,2025409,NaN,41638.0,NaN,1377384.0,NaN,606387.0,8944.0,1466.0,30.0,22149351.0,16035.0,South-EastAsia
3,Russia,Europe,1.459409e+08,871894,NaN,14606.0,NaN,676357.0,NaN,180931.0,2300.0,5974.0,100.0,29716907.0,203623.0,Europe
4,South Africa,Africa,5.938157e+07,538184,NaN,9604.0,NaN,387316.0,NaN,141264.0,539.0,9063.0,162.0,3149807.0,53044.0,Africa

In [7]:
df = df.drop(columns=['NewCases'])
df = df.drop(columns=['NewDeaths'])
df = df.drop(columns=['NewRecovered'])

In [8]:
df.head()

,Country/Region,Continent,Population,TotalCases,TotalDeaths,TotalRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
0,USA,North America,3.311981e+08,5032179,162804.0,2576668.0,2292707.0,18296.0,15194.0,492.0,63139605.0,190640.0,Americas
1,Brazil,South America,2.127107e+08,2917562,98644.0,2047660.0,771258.0,8318.0,13716.0,464.0,13206188.0,62085.0,Americas
2,India,Asia,1.381345e+09,2025409,41638.0,1377384.0,606387.0,8944.0,1466.0,30.0,22149351.0,16035.0,South-EastAsia
3,Russia,Europe,1.459409e+08,871894,14606.0,676357.0,180931.0,2300.0,5974.0,100.0,29716907.0,203623.0,Europe
4,South Africa,Africa,5.938157e+07,538184,9604.0,387316.0,141264.0,539.0,9063.0,162.0,3149807.0,53044.0,Africa

In [14]:
from sqlalchemy import create_engine
import urllib

params = urllib.parse.quote_plus(
    "DRIVER={ODBC Driver 17 for SQL Server};"
    "SERVER=(localdb)\MSSQLLocalDB;"   # ðŸ‘ˆ seu servidor local
    "DATABASE=Bootcamp;"            # ðŸ‘ˆ nome do banco que vocÃª criou
    "Trusted_Connection=yes;"         # ðŸ‘ˆ autenticaÃ§Ã£o do Windows
    "Encrypt=no;"
)

engine = create_engine(f"mssql+pyodbc:///?odbc_connect={params}")

In [15]:
with engine.connect() as conn:
    print("âœ… ConexÃ£o bem-sucedida!")

âœ… ConexÃ£o bem-sucedida!

In [16]:
df.to_sql(
    'covid',         # nome da tabela no SQL
    con=engine,      # conexÃ£o que vocÃª criou
    if_exists='replace',  # substitui se jÃ¡ existir
    index=False      # nÃ£o envia o Ã­ndice do pandas
)
print("âœ… Tabela enviada para o SQL Server com sucesso!")

âœ… Tabela enviada para o SQL Server com sucesso!